@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'nautigal';
    src: url('../src/fonts/nautigal/TheNautigal-Bold.ttf');
    font-weight: normal;
    font-style: normal;
    /* font-display: swap; */
}
html {
    scroll-behavior: smooth;
  }

  .bg-75{
    background-position: 75%;
  }
  .bg-72{
    background-position: 72%;
  }

  @layer components {
    .menu-link {
      @apply  uppercase text-lg md:text-xl lg:text-3xl  text-dark-gray tracking-widest hover:underline ;
    }
  }

